<!DOCTYPE html>
<html>
  <head>
    <title>Pinterested</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header><%= render 'home/partials/header' %></header>

    <article class="container">

      <%= render 'home/partials/flashly' %>

      <%= yield %>

    </article>

    <footer><%= render 'home/partials/footer' %></footer>

  </body>
</html>
